@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background: linear-gradient(to right, #f7e7f7 0%,#e3e1fb 100%);
}
::selection {
	background: #9c27b0;
	color: #fafafa;
}
::-moz-selection {
	background: #9c27b0;
	color: #fafafa;
}
.header {
    width:  100%;
    height: 200px;
    background-image: url("../images/style/header.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 800;
}
.slide-content {
    background-color: #cacaca;
    height: 120px;
    width: 100vw;
    display: block;
}
.slide-content h2 {
    color: #2a2a2a;
    font-weight: bold;
    text-align: center;
    display:inline;
}
.center {
    text-align: center;
}
#back {
    position: fixed;
    left: .6em;
    top: .6em;
    font-size: 1.15em;
    z-index: 99;
}
.back-button {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    color: #777777;
    font-weight: 600;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.back-button:active {
    background-color: rgba(202, 196, 235, 0.4);
    background-image: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.back-button:focus {
        outline: none;
}
.navmenu {
    float: left;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 100;
}
.translate {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}
.info-block {
    display: none;
}
.gradient {
    background: -webkit-linear-gradient(right top,#ff4081, #9c27b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rounded-img {
    border-radius: 18px;
    height: 36px;
    width: 36px;
    margin-right: 0.5em
}
.price {
    float: right;
    margin-right: 2rem;
}
.card-img-text {
    position: absolute;
    top: 5.5rem;
    left: 1.5rem;
    background: -webkit-linear-gradient(left top,#f7e7f7, #ffcdd2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'cwTeXYen', sans-serif;
    font-size: 2.3rem;
    font-weight: bolder;
}
.card-img-text:after {
    background: none;
    content: attr(data-text);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 0.5px 0.5px 0 #673ab7, -0.5px -0.5px 0 #673ab7, 1px 1px 2px #e1bee7, -1px -1px 2px #e1bee7;
}
.zindex-1 {
    z-index: 1;
}
.middle {
    font-size: .95rem;
}